@using MyShopApp.BLL.DTO
@model MyShopApp.Web.Models.ChangeRoleViewModel

<h4>Edit roles for user @Model.UserEmail</h4>

<form asp-action="EditRoles" method="post">
    <input type="hidden" name="userId" value="@Model.UserId"/>
    <div class="form-group">
        @foreach (RoleDTO role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.RoleName"
                    @(Model.UserRoles.Contains(role.RoleName) ? "checked=\"checked\"" : "") /> @role.RoleName<br/>
        }
    </div>
    <button type="submit" class="btn btn-dark">Save</button>
</form>